<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New Service Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
      <span class="navbar-brand">ASM v1</span>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <% if (user) { %>
            <a href="/vehicles" class="nav-item nav-link">My Vehicles</a>
            <a href="/dealerships/new" class="nav-item nav-link">Add Dealership</a>
            <h5><a href="/logout" class="nav-item badge badge-success">Log Out: <%= user.name %> (<%= user.email %>)</a></h5>
            <% } else { %>
            <h5><a href="/auth/google" class="nav-item badge badge-light">Login with Google</a></h5>
            <% } %>
        </div>
      </div>
    </nav>
    <main>
      <h2>Add a Service Record:</h2>
      <form method="POST" action="/vehicles/<%= vehicleId %>/services" autocomplete="off">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="dealership">Select Dealership:</label>
            <select name="dealership" class="form-control">
              <% dealerships.forEach(function(dealer) { %>
                <option value="<%= dealer._id %>"><%= dealer.name %></option>
              <% }); %>
            </select>
            <small class="form-text text-muted">NOTE: If your dealership is not available, please add it to the database using the "Add Dealership" link above, and navigate back to this page.</small>
          </div>
          <div class="form-group col-md-6">
            <label for="type">Type:</label>
            <select name="type" class="form-control" required>
              <option value="Routine">Routine</option>
              <option value="Repair">Repair</option>
              <option value="Recall">Recall</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="servDate">Service Date:</label>
            <input type="date" name="servDate" placeholder="YYYY-MM-DD" class="form-control" required>
          </div>
          <div class="form-group col-md-6">
            <label for="mileage">Mileage:</label>
            <input type="number" name="mileage" class="form-control" min="0" value="0" required>
          </div>
        </div>
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" name="title" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="detail">Details:</label>
          <textarea name="detail" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Add Service</button>
      </form>
      <br />
      <a href="/vehicles/<%= vehicleId %>" class="btn btn-danger">Cancel</a>
    </main>
  </body>
</html>

